<div id="message-{{id}}" class="comment">
  <div class="commentDetails">
    <h3 class="comment-user">{{username}}</h3>
    <p class="comment-text">{{text}}</p>
    <div class="commentActions">
      <span class="comment-date">{{formatDate created_at}}</span>
    </div>
  </div>
</div>