<Header>
    <a href="/">
        <img src="/public/assets/icon/Youtube.png" alt="Youtube">
        <h1>YouTube </h1>
    </a>
</Header>
<section class="searchKeyWords">
    <input type="text" placeholder="Search..." required />
    <img src="/public/assets/icon/SearchImage.png" alt="Youtube">
</section>