<Header>
  <a href="/">
    <img src="/public/assets/icon/Youtube.png" alt="Youtube" />
    <h1>YouTube </h1>
  </a>
</Header>
<section class="searchKeyWords">
  <form action="/post/search" method="get">
    <input
      class="searchterm"
      type="text"
      placeholder="Search..."
      required
      name="searchterm"
      value="{{searchterm}}"
    />
    <button type="submit" class="searchButton fas fa-search">
    </button>
  </form>

</section>