<article class="container">
  <section class="signUp">
    <form class="signUpForm" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
      <h2 class="title">Sign in</h2>
      <div class="inputField">
        <img src="/public/assets/icon/User.svg" alt="user">
        <input type="text" placeholder="Username" name="username">
      </div>
      <div class="inputField">
        <img src="/public/assets/icon/Lock.svg" alt="Lock">
        <input type="password" placeholder="Password" name="password">
      </div>
      <input type="submit" value="Sign in" class="btn">
    </form>
  </section>
</article>
</body>

</html>