<main class="profile-container">
  <h2>{{user.username}}'s Profile</h2>
  <div class="profile-user-info">
    <div class="profile-avatar">
      <i class="fa fa-user-graduate"></i>
    </div>
    <p class="profile-username">{{user.username}}</p>
    <p class="profile-email">{{user.email}}</p>
  </div>
  <section>
    <h3>Posted Videos</h3>
    <!-- Add code to display the user's posted videos here -->
  </section>
</main>